@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Open+Sans&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #3DA4FF;
	font-size:20px;
}


header {
	
}

h1 {
	background-color: #FFED74
	font-family: 'Fugaz One';
	color: #ff6B66;
	font-size: 8em;
	text-align: center;
}

h2 {
	font-family: 'Fugaz One';
	text-align: center;
}



h3 {
	font-family: 'Roboto Slab', serif;
	text-align: center;
}

p {
	font-family: 'Roboto', sans-serif;
	color: #3D3200;
	text-align: center;
}

.wrapper {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

img{
	width: 100%;
}

.example{
	padding: 0;
	margin: 2%;
	width: 40%;
}

nav {
	/*text-align: center;
	border: 1px black solid;*/
	background-color: #0F0C17;
}

nav a {
	color: #ffffff;
	font-family: 'Roboto Slab', serif;
	font-size: 1em;
	/*text-align: center;*/
	font-style: italic;
	/*display: block;*/
	float: left;
	padding: 1em 2.35em;
}

/*.mapping {
	font-size: 1em;
}*/

a:hover {
	background-color:  #ff6B66;
}

.clearfix:after {
	display: block;
	content: " ";
	clear: both;

	height: 0;
	font-size: 0;
	visibility: hidden;
}
.intro img {
	width: 45%;
	margin: 2%;
	float: left;
}

.intro div{
	margin: 2em;
	padding-top: 13%;
	width: 45%;
	float: left;
} 

.intro h3{
	text-align: left;
}

.clearfix:after {
	display: block;
	content: " ";
	clear: both;

	height: 0;
	font-size: 0;
	visibility: hidden;
}


article section {
	width: 33.33%;
	float: left;
	padding: 1em;
	border: 1px solid;
}

article section img {
	width: 50%;
	display: block;
	margin: auto;
}

.grid p{
	text-align: left;
}

.cta {
	display: inline-block;
	margin-top: 1em;
	background: #ff6B66;
	color: #0F0C17;
	padding: 0.5em 1em;
	text-decoration: none;
	text-align: center;
	width: 33%;
	float: right;
}

.clearfix:after {
	display: block;
	content: " ";
	clear: both;

	height: 0;
	font-size: 0;
	visibility: hidden;
}

footer {
	margin-top: 2%
}
