@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Open+Sans&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #3DA4FF;
	font-size:1.25em;
}

header {text-align: center;
	
}

h1 {
	background-color: #FFED74
	font-family: 'Fugaz One';
	color: #ff6B66;
	font-size: 8em;
	text-align: center;
}

h2 {
	font-family: 'Fugaz One';
	text-align: center;
}



h3 {
	font-family: 'Roboto Slab', serif;
	text-align: center;
}

p {
	font-family: 'Roboto', sans-serif;
	color: #3D3200;
	/*text-align: center;*/
}

.wrapper {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.clearfix:after {
	display: block;
	content: " ";
	clear: both;

	height: 0;
	font-size: 0;
	visibility: hidden;
}

.example{
	padding: 0%;
	margin: 2% 0%;
	width: 50%;
	float: left;
}

nav {
	text-align: center;
	background-color: #0F0C17;
}

nav a {
	color: #ffffff;
	font-family: 'Roboto Slab', serif;
	font-size: .85em;
	font-style: italic;
	display: inline-block;
	padding: 1em .5em;
}

a:hover {
	background-color:  #ff6B66;
}


.intro img {
	width: 50%;
	float: left;
	padding: 1em;
}

.intro div{
	padding: 13% 1em 0;
	width: 50%;
	float: left;
} 

.intro h3{
	text-align: left;
}

article section {
	width: 33.33%;
	float: left;
	padding: 1em;
	border: .05em solid;
	text-align: center;
}

/*#BK {
	border-left: .05em solid;
	border-top: .05em solid;
}*/

article section img {
	width: 50%;
	display: block;
	margin: auto;
}

.grid p{
	text-align: left;
}

.cta {
	display: inline-block;
	margin-top: 1em;
	background: #ff6B66;
	color: #0F0C17;
	padding: 0.5em 1em;
	text-decoration: none;
	text-align: center;
	width: 40%;
}

footer {
	text-align: center;
	margin-top: 2%
}

@media screen and (max-width:1250px){
	nav a {
		font-size: .75em;
	}
}

@media screen and (max-width:1120px){
	h3 {
		font-size: .85em;
	}
	p {
		font-size: .85em;
	}
		
	/*<section>
	<h3><a href="#">Awards/Grants/
	Fellowships</a></h3>
	</section>*/
}

@media screen and (max-width:768px){
	body {
		font-size: .95em;
	}
	h1 {
		font-size: 3em;

	}

	.example{
		display: none;
	}

	nav a {
	display: inline;
	padding: 1em .5em;
	}

	.intro div{
	padding: 5% 1em 0;
	width: 50%;
	float: left;
	} 

	article section {
	width: 50%;
	float: left;
	padding: 1em;
	border: .05em solid;
	text-align: center;
	}

}
