* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Open+Sans&display=swap');

body {
	font-size:20px;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

h1 {
	background-color: #FFED74
	font-family: 'Fugaz One';
	color: #ff6B66;
	font-size:8em;
	text-align: center;
}

h2 {
	font-family: 'Fugaz One';
	text-align: center;
}



h3 {
	font-family: 'Roboto Slab', serif;
	text-align: center;
}

p {
	font-family: 'Roboto', sans-serif;
	color: #3D3200;
	text-align: center;
}

img{
	width: 200px;
}

.example{
	padding: 0;
	margin: 0;
	width: 535px;
}

nav {
	text-align: center;
	border: 1px black solid;
	background-color: #E8C66A;
	padding: 20px;
}

nav a {
	color: #ffffff;
	font-family: 'Roboto Slab', serif;
	text-align: center;
	font-style: italic;
	display: block;
	float: left;
	padding: 10px 5px 5px 10px;
}

nav a:hover {
	background-color:  #ff6B66;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
	padding-top: 50px;
}

section {
	padding: 10px 0;
}

.mapping:after {
	display: block;
	content: " ";
	clear: both;

	height: 0;
	font-size: 0;
	visibility: hidden;
}

.mapping {
	font-size: 1em;
}

#wrapper {
	width: 1080px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}
